{% extends 'myQBank/layout.html' %}
{% load static %} 
{% block body %} 
<!--TODO: Form for adding questions-->
<section class="form-center">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <h2 class="col-sm-12">Add Question</h2>
            <div class="col-md-6">
                <form action="{% url 'addQuestions' %}" method="post" onsubmit="false">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" type="text" name="question" id="" placeholder="Type Question Here" style="height: 8vw"></textarea>                    </div>
                    <div class="form-group">
                        <input type="email" name="option1" class="form-control" placeholder="First Option">
                    </div>
                    <div class="form-group">
                        <input type="text" name="option2" class="form-control" placeholder="Second Option">
                    </div>
                    <div class="form-group">
                        <input type="text" name="option3"  class="form-control" placeholder="Third Option">
                    </div>
                    <div class="form-group">
                        <input type="text" name="option4" class="form-control" placeholder="Fourth Option">
                    </div>
                    <div id="extra-option">

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add Question" class="btn btn-primary">
                    </div>
                    <div class="form-group" style="display: inline-block">
                        <button id="addOption" class="btn btn-outline">Add Option</button>
                    </div>

                </form>
                Alreay have an account? <a href="{% url 'login' %}">Login</a> here
            </div>
        </div>
    </div>
</section>
<!--TODO: javascript for sending-->
{% endblock %}