{% extends "myQBank/layout.html" %}
{% load static %} 
{% block body %} 
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-11 margin-giver">            
            {% for question in all_questions %}
            <div style="text-align: left;">
                {{question.0.question.html|safe}}
            </div>
            
            {% if question.0.has_picture %}
            <div class="col-md-4">
                <div class="card card-body">
                    <img src="{{question.0.picture}}" alt="">
                </div>
            </div>  
            <br>         
            {% endif %}
            <div style="text-align: left; margin-left: 1em;">
                <a  class= "btn btn-primary" data-toggle="collapse" href="#multiCollapse{{question.0.id}}" role="button" aria-expanded="false" aria-controls="multiCollapse{{question.0.id}}">Answer</a>
            </div>
            <br>
            <div class = "collapse multi-collapse" id="multiCollapse{{question.0.id}}">
                <div class="card card-body">
                    {% autoescape off %}
                    {{question.1.answer.html}}
                    {% endautoescape %}
                </div>
            </div>
        
            {% for subq in question.2 %}
            <h6>{{ subq.subQuestion }}</h6>
            <div style="text-align: left; margin-left: 1em;">
                <a  class= "btn btn-primary" data-toggle="collapse" href="#multiCollapse{{subq.id}}" role="button" aria-expanded="false" aria-controls="multiCollapse{{subq.id}}">Answer</a>
            </div>
            <br>
            <div>
                <div class="collapse multi-collapse" id="multiCollapse{{subq.id}}">
                    <div class="card card-body">
                        {% autoescape off %}
                        {{subq.essay_answer.answer}}
                        {% endautoescape %}
                    </div>
                </div>    
            </div>
            {% endfor %}
            <hr>
            {% endfor %}
        
        </div>
    </div>
</div>
{% endblock %}