{% extends 'myQBank/layout.html' %}
{% load static %}
{% block body %}

<div class="container-fluid">
    <input type="hidden" id="profile-checker" value="yes">
    <div class="row">
        <!--this will have the first part of infomation-->
        <div class="col-md-2 bd-sidebar">
            <div class="container-fluid">
                <div class="row">
                    <div>
                        <h5>{{user.username}}'s Profile</h5>
                        Email: <br>
                        <em> {{user.email}} </em>
                    </div>
                    <div class="stats">
                        your statistics
                    </div>

                </div>

            </div>
 
        </div>
       

        <!-- What the other column will be -->
        <div class="col-md-10">
            <div class="container-fluid">
                <h1>Your Courses</h1>
                <div class="row">

                    {% for subject in UsersCourses %}
                    <div class="col-md-6" id="card{{subject.course.id}}">
                        <!--Add a Card for the subject here-->
                        <a href="{% url  'course' subject.course.course_name  %}">
                            <div class="card mb-3">
                                <img class="card-img-top card-image" src="{{subject.course.image_url}}" alt="{{subject.course.course_name}}">
                                <div class="card-body">
                                    <h4 class="card-title"> {{ subject.course.course_name }}</h4>
                                    <p class="card-text">This is {{subject.course.course_name}}</p>
                                </a>
                                    {% if user.is_authenticated %}
                                    <form action="#NothingToGoTo">
                                        {% csrf_token %}
                                    </form>
                                    <!-- Let's first add a button that just deals with adding and removing of the course-->
                                    <button class="available-course btn btn-primary" id="course{{subject.course.id}}"
                                        name="{{subject.course.id}}">Add</button>
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                    {% endfor %}
                </div>
            </div>


        </div>
    </div>

</div>
<script src="{% static 'myQBank/add_remove_course.js' %}"></script>
{% endblock %}