{% extends "myQBank/layout.html" %}

{% block body %} 

    <h2>Sign Up</h2>
    {% if message %}
        {{message}}
    {% endif %}
    
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %} 
        <div class="form-group">
            <input class="form-control" type="text" name="username" id="" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Your Email Address">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="confirmation" placeholder="Confirm Password" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="Sign Up" class="btn btn-primary">
        </div>
    </form>
    Alreay have an account? <a href="{% url 'login' %}">Login</a> here
{% endblock %}