{% extends "myQBank/layout.html" %}
{% load static %}
{% block body %}
<ul>
    <!-- TODO: make sure that the topic links are clickable
    I want to make sure that the url is something like:
    questions/topic_id
    I'm picking topic id because I think sometopics will have
    the same title but the be underdifferent courses-->
    {% if user.is_authenticated %}
    {% for topic in Topics %}
    <a href="{% url 'questions' topic.id %}">
        <li>{{ topic.topic_name }}</li>
    </a>
    {% endfor %}
    {% else %}
    <p>Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Sign Up</a> to see material </p>
    {% endif %}
</ul>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">


        {% if user.is_authenticated %}
        {% if all_questions %}
        
        
      
        <div class="col-sm-12  col-md-6 margin-giver">
            <div class="p-1">
            <button class="btn btn-secondary" id="attemptButton"
            data-id="{{all_questions.0.0.question.course.id}}">Attempt</button>
        </div>
            <div id="messenger"></div>
            {% for question_set in all_questions %}
            <div class="p-2">
            <div class="card  p-3">
            <strong id="question{{question_set.0.question.id}}" data-attempts="0"
                data-clicked="0"
                data-course="{{question_set.0.question.course.course_name}}"
                data-topic="{{question_set.0.question.topic.topic_name}}"
                data-questionid="{{question_set.0.question.id}}">{{forloop.counter}}.
                {{question_set.0.question}}</strong>
            <ol type="a">
                {% for option in question_set %}
                <li class="answer answer{{question_set.0.question.id}}" data-correctness="{{option.correctness}}" data-clicked="0"
                    data-questionid="{{option.question.id}}"> {{ option.option }}
                </li>
                {% endfor %}
            </ol>
            <div id="correct-answer{{question_set.0.question.id}}" class="correct-answer"><i class="fi fi-bs-check"></i></div>
            <div id="wrong-answer{{question_set.0.question.id}}" class="wrong-answer"><i class="fi fi-br-cross"></i></div>
        </div>
        </div>
            {% endfor %}
            <nav aria-label="Page navigation example">
            <div class="pagination pagination-sm">
                <span class="step-links">
                    {% if all_questions.has_previous %}
                        <i class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></i>
                        <i class="page-item"><a class="page-link" href="?page={{ all_questions.previous_page_number }}">previous</a></i>
                    {% endif %}
            
                    <span class="current">
                        Page {{ all_questions.number }} of {{ all_questions.paginator.num_pages }}.
                    </span>
            
                    {% if all_questions.has_next %}
                        <i class="page-item"><a class="page-link" href="?page={{ all_questions.next_page_number }}">next</a></i>
                        <i class="page-item"><a class="page-link" href="?page={{ all_questions.paginator.num_pages }}">last &raquo;</a></i>
                    {% endif %}
                </span>
            </div>
        </nav>
            {% endif %}


            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
            {% endif %}

        </div>
    </div>

</div>
<script src="{% static 'myQBank/topics.js' %}"></script>
{% endblock %}