{% extends "myQBank/layout.html" %}
{% load static %}
{% block body %}
<ul>
    <!-- TODO: make sure that the topic links are clickable
    I want to make sure that the url is something like:
    questions/topic_id
    I'm picking topic id because I think sometopics will have
    the same title but the be underdifferent courses-->
    {% if user.is_authenticated %}
    {% if Topics %}
    <h1>MCQ Topics</h1>
    {% for topic in Topics %}
    {% if topic.mcq_topic %}
    <a href="{% url 'questions' topic.id %}">
        <li>{{ topic.topic_name }}</li>
    </a>
    {% endif %}
    {% endfor %}
    <hr>
    <h1>Essay Topics</h1>
    {% for topic in Topics %}
    {% if topic.essay_topic %}
    <a href="{% url 'essays' topic.id %}">
        <li>{{ topic.topic_name }}</li>
    </a>
    {% endif %}
    {% endfor %}
    {% endif %}
    
    {% else %}
    <p>Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Sign Up</a> to see material </p>
    {% endif %}
</ul>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">


        {% if user.is_authenticated %}

        {% if all_questions %}

        <form action="#NothingToGoTo">
            {% csrf_token %}
        </form>
        <div class="col-sm-12  col-md-6 margin-giver">
            <div class="p-1 sticky-top">
                <button class="btn btn-secondary" id="attemptButton"
                    data-id="{{all_questions.0.0.question.course.id}}">Attempt</button>
            </div>
            <div id="messenger"></div>
            {% if greedy %}
            {% if user.paidup %}
            <em></em>
            {% else %}
            <p>There's {{total}} questions for this topic. To access those call <strong>0973501628</strong>. It's only <h4>K10</h4></p>
            <p>You will gain access to all the questions in this Database.</p>
            {% endif %}
            {% endif %}
        
            {% for question_set in all_questions %}
            <div class="p-2">
                <div class="card  p-3">
                    <div id="card{{question_set.0.question.id}}">
                        <strong id="question{{question_set.0.question.id}}" data-attempts="0" data-clicked="0"
                            data-course="{{question_set.0.question.course.course_name}}"
                            data-topic="{{question_set.0.question.topic.topic_name}}"
                            data-questionid="{{question_set.0.question.id}}">{{forloop.counter}}.
                            {{question_set.0.question}}</strong>
                        <ol type="a">
                            {% for option in question_set %}
                            <li class="answer answer{{question_set.0.question.id}}"
                                data-correctness="{{option.correctness}}" data-clicked="0"
                                data-questionid="{{option.question.id}}"> {{ option.option }}
                            </li>
                            {% endfor %}
                        </ol>
                        <div id="correct-answer{{question_set.0.question.id}}" class="correct-answer"><i
                                class="fi fi-bs-check"></i></div>
                        <div id="wrong-answer{{question_set.0.question.id}}" class="wrong-answer"><i
                                class="fi fi-br-cross"></i></div>
                    </div>
                    {% if user.is_superuser %}
                    <em><a class="edit" id="edit{{question_set.0.question.id}}" href="#nope"
                            data-questionid="{{question_set.0.question.id}}">Edit</a></em>
                    <em><a class="editX" id="editX{{question_set.0.question.id}}" href="#nope" data-questionid="{{question_set.0.question.id}}"><i class="fa-solid fa-pen"></i></a></em>
                    <div class="change_answer" id="change_answer{{question_set.0.question.id}}">
                        <!-- Add the question and it's respective questions here -->
                        <form>
                            <strong>{{forloop.counter}}. {{question_set.0.question}}</strong>
                            <div>
                                {% for option in question_set %}
                                <input class="option{{question_set.0.question.id}}" type="radio" id="{{option.id}}"
                                    name="changeAnswer{{question_set.0.question.id}}" value="{{option.id}}">
                                <label for={{option.id}}>{{option.option}}</label><br>
                                {% endfor %}
                            </div>
                            <div>
                                <em><button class="btn btn-link" id="savebutton{{question_set.0.question.id}}"
                                        type="button">Save</button></em>
                            </div>
                        </form>

                    </div>
                    <div class="change_answerX" id="change_answerX{{question_set.0.question.id}}">
                        <!-- Add the question here in an editable box-->
                        <form>
                        <div class="form-group">
                            <textarea class="form-control" type="text" name="question" id="questionX{{question_set.0.question.id}}" style="height: 10vw;">{{question_set.0.question}}</textarea> 
                        </div>
                        {% for option in question_set %}
                        <div class="form-group">
                            
                            <input class="form-control optionX{{question_set.0.question.id}}"  type="text" data-id="{{option.id}}" id="X{{option.id}}" name="changeAnswerX{{question_set.0.question.id}}" value="{{option.option}}">
                            
                        </div>
                        {% endfor %}
                        <em><button class="btn btn-link" id="saveButtonX{{question_set.0.question.id}}" type="button"><i class="fa-regular fa-floppy-disk"></i></button></em>
                    </form>

                    </div>

                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm">
                    <!-- <span class="step-links"> -->
                    {% if all_questions.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                    <li class="page-item"><a class="page-link"
                            href="?page={{ all_questions.previous_page_number }}">previous</a></li>
                    {% endif %}

                    <span class="current">
                        {{ all_questions.number }} of {{ all_questions.paginator.num_pages }}.
                    </span>

                    {% if all_questions.has_next %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ all_questions.next_page_number }}">next</a></li>
                    <li class="page-item"><a class="page-link"
                            href="?page={{ all_questions.paginator.num_pages }}">&raquo;</a></li>
                    {% endif %}
                    <!-- </span> -->
                </ul>
            </nav>
            {% endif %}


            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
            {% endif %}

        </div>
    </div>

</div>
<script src="{% static 'myQBank/topics.js' %}"></script>
<script src="{% static 'myQBank/editAns.js' %}"></script>
{% endblock %}