{% extends "myQBank/layout.html" %}
{% load static %}
{% block body %}
<ul>
    <!-- TODO: make sure that the topic links are clickable
    I want to make sure that the url is something like:
    questions/topic_id
    I'm picking topic id because I think sometopics will have
    the same title but the be underdifferent courses-->
    {% if user.is_authenticated %}
    {% for topic in Topics %}
    <a href="{% url 'questions' topic.id %}">
        <li>{{ topic.topic_name }}</li>
    </a>
    {% endfor %}
    {% else %}
    <p>Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Sign Up</a> to see material </p>
    {% endif %}
</ul>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            {% if user.is_authenticated %}
            {% if all_questions %}
            <button class="btn btn-secondary" id="attemptButton"
                data-id="{{all_questions.0.0.question.course.id}}">Attempt</button>
            <div id="messenger"></div>
            {% for question_set in all_questions %}
            <p id="question{{question_set.0.question.id}}" data-attempts="0"
                data-course="{{question_set.0.question.course.course_name}}"
                data-topic="{{question_set.0.question.topic.topic_name}}"
                data-questionid="{{question_set.0.question.id}}">{{forloop.counter}}.
                {{question_set.0.question}}</p>
            {% for option in question_set %}
            <li class="answer" data-correctness="{{option.correctness}}" data-clicked="0"
                data-questionid="{{option.question.id}}"> {{ option.option }}</li>
            {% endfor %}
            <br>
            {% endfor %}

            {% endif %}

            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
            {% endif %}

        </div>
    </div>

</div>
<script src="{% static 'myQBank/topics.js' %}"></script>
{% endblock %}