.card-image {
    height: 30vw;
    object-fit: cover;
}
.form-center {
    text-align: center;
}
/* this hasn't worked so well i will fix it tomorrow*/
.margin-giver {
    margin: 1rem;
}
.correct-answer {
    color: green;
    font-weight: bold;
}
.wrong-answer {
    color: red;
    font-weight: bold;
}
.margin-giver2 {
    margin-top: 0.25rem;
}